body {
  margin: 0;
}

header {
  background: black;
  color: white;
  font-size: 5vw;
  padding: 2vw 1vw;
  text-align: center;
}

nav {
  background: deepskyblue;
  text-align: center;
  margin: 1vw 0;
  overflow: hidden;
  position: sticky;
  top: 0;
}

nav a {
  font-size: 3vw;
  color: white;
  padding: 1vw 2vw;
  text-decoration: none;
}

nav a:hover {
  background: black;
  color: cyan;
}

section {
  border: 1px solid black;
  margin: 1vw auto;
  width: 80%;
  text-align: center;
}

section img {
  width: 75%;
}

h3 {
  font-family: tahoma;
  font-size: 3.2vw;
}

article {
  margin-bottom: 1vw;
  font-size: 1.8vw;
}
