body {
    margin: 0;
    padding: 0;
}
body header div {
    background-image: url(../images/header.png);
    background-origin: 50% 50%;
    background-size: 100% 100%;
    background-repeat: no-repeat;

    height: 5vw;

    display: flex;
    flex-direction: row-reverse;
    justify-content:   flex-end; 
    align-items: center;
}
body header div li {
    flex-grow: 1;
    list-style-type: none;
    align-self: center; 
    padding: 0.2vw 0.1vw 0vw 0.2vw;
}
body header div a i span {
   padding: 0.7vw 1.6vw; 
   font-size: 2.3vw;  
}
#logo { 
    height: 4vw;
    width: 10vw; 
    padding-left: 3vw; 
}

#line {
    width: 100vw;
    height: 2px;
    background: rgba(255, 0, 0, 0.575);
}
#sec1 {
    width: 100vw;
    height: 40vw;

    background-image: url(../images/secdiv2.jpg);
    background-origin: 50% 50%;
    background-size: 100% 100%;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: 	center;
    align-items: center;
}


#divSec1Foto {

    background: rgba(0, 0, 0, 0.24);
    width: 80%;
    height: 75%;
    padding-top: 3%;
    padding-bottom: 3%;
    box-sizing: border-box;  
    display: flex;
    flex-direction: column;
    justify-items: flex-start ;
    align-items: center;
    flex-wrap: wrap;
        
}
input {
    height: 2vw;
    width: 20vw;
    
}
#id8::placeholder {
    color: lightgray;
}






